{% extends "base.html" %} 
{% load static %}

    {% block title %} 
        Consultorio Digital
    {% endblock %} 

    {% block navbar %} 
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'principal:principal' %}">Página principal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'mis_horas' %}">Mis horas</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'consultorio' %}">Reservar hora</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cancelar_hora' %}">Cancelar hora</a>
            </li>
            <li class="nav-item">
                <form id="frm_logout" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <a class="nav-link" href="javascript:$('#frm_logout').submit();">Cerrar sesión
                    </a>
                </form>
            </li>
        </ul>
    {% endblock %}

    {% block extra_css %} 
        <link rel="stylesheet" href="{% static 'css/principal.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" href="{% static 'css/consultorio.css' %}" rel="stylesheet"/> 
    {% endblock %}

    {% block content %}
    <div class="container">
        <h1 class="lvl-select">Agenda tu cita</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="lvl-select" for="region">Región:</label>
                <select id="region" class="form-control">
                    <option value="">Seleccione una región</option>
                    {% for region in regiones %}
                        <option value="{{ region.c_reg }}">{{ region.nom_reg }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label class="lvl-select" for="comuna">Comuna:</label>
                <select id="comuna" class="form-control" disabled>
                    <option value="">Seleccione una comuna</option>
                </select>
            </div>
            <div class="form-group">
                <label class="lvl-select" for="consultorio">Consultorio:</label>
                <select id="consultorio" class="form-control" disabled>
                    <option value="">Seleccione un consultorio</option>
                </select>
            </div>
            <!-- Campos de ejemplo -->
            <div class="form-group">
                <label class="lvl-select" for="motivo">Motivo de Consulta:</label>
                <input type="text" id="motivo" class="form-control" placeholder="Ingrese el motivo de la consulta" />
            </div>
            <div class="form-group">
                <label class="lvl-select" for="fecha">Fecha de Consulta:</label>
                <input type="date" id="fecha" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const regionSelect = document.getElementById('region');
        const comunaSelect = document.getElementById('comuna');
        const consultorioSelect = document.getElementById('consultorio');
    
        regionSelect.addEventListener('change', function() {
            const regionId = parseInt(this.value);
            if (regionId) {
                fetch(`/consultorio/obtener_comunas/${regionId}/`)
                    .then(response => response.json())
                    .then(data => {
                        comunaSelect.innerHTML = '<option value="">Seleccione una comuna</option>';
                        data.forEach(comuna => {
                            comunaSelect.innerHTML += `<option value="${comuna.c_com}">${comuna.nom_com}</option>`;
                        });
                        comunaSelect.disabled = false;
                    });
            } else {
                comunaSelect.innerHTML = '<option value="">Seleccione una comuna</option>';
                comunaSelect.disabled = true;
                consultorioSelect.innerHTML = '<option value="">Seleccione un consultorio</option>';
                consultorioSelect.disabled = true;
            }
        });
    
        comunaSelect.addEventListener('change', function() {
            const comunaId = this.value;
            if (comunaId) {
                fetch(`/consultorio/obtener_consultorios/${comunaId}/`)
                    .then(response => response.json())
                    .then(data => {
                        consultorioSelect.innerHTML = '<option value="">Seleccione un consultorio</option>';
                        data.forEach(consultorio => {
                            consultorioSelect.innerHTML += `<option value="${consultorio.objectid}">${consultorio.nombre}</option>`;
                        });
                        consultorioSelect.disabled = false;
                    });
            } else {
                consultorioSelect.innerHTML = '<option value="">Seleccione un consultorio</option>';
                consultorioSelect.disabled = true;
            }
        });
    });

    </script>
    {% endblock %}
    