{% extends "base.html" %} 
{% load static %}

    {% block title %} 
        Consultorio Digital
    {% endblock %} 

    {% block extra_css %} 
        <link rel="stylesheet" href="{% static 'css/principal.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" href="{% static 'css/consultorio.css' %}" rel="stylesheet"/> 
    {% endblock %}

    {% block content %}
    <div class="container">
        <h1 class="lvl-select">Agenda tu cita</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="lvl-select" for="region">Región:</label>
                <select name="region" id="region" class="form-control">
                    <option value="">Seleccione una región</option>
                    {% for region in regiones %}
                        <option value="{{ region.c_reg }}">{{ region.nom_reg }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label class="lvl-select" for="comuna">Comuna:</label>
                <select name="comuna" id="comuna" class="form-control" disabled>
                    <option value="">Seleccione una comuna</option>
                </select>
            </div>
            <div class="form-group">
                <label class="lvl-select" for="consultorio">Consultorio:</label>
                <select name="consultorio" id="consultorio" class="form-control" disabled>
                    <option value="">Seleccione un consultorio</option>
                </select>
            </div>
            <div class="form-group">
                <label class="lvl-select" for="motivo">Motivo de Consulta:</label>
                <input name = "motivo" type="text" id="motivo" class="form-control" placeholder="Ingrese el motivo de la consulta" />
            </div>
            <div class="form-group">
                <label class="lvl-select" for="fecha">Fecha de Consulta:</label>
                <input name="fecha" type="date" id="fecha" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Buscar hora</button>
        </form>
    </div>

    {% block extrascripts %}
        <script src="{% static 'js/consultorio.js' %}"></script>
    {% endblock %}

    {% endblock %}
    